html,body{
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Roboto', sans-serif;
}

.container{
	height: 90vh!important;
	margin: 5vh auto;
}

.jumbotron{
	padding-top: 30px;
	margin-bottom: 0px;
	height: 100%;
}

.jumbotron h1{
	text-align: center;
	margin-bottom: 50px;
}

.jumbotron ol li{
	font-size: 24px;
}

@media screen and (max-width: 800px) {
	.jumbotron h1{
		font-size: 40px;
	}
	.jumbotron ol li{
		font-size: 20px;
	}
}
